@model LFG.Pages.Group.GroupModel

<partial name="_DefaultGroupAvatarPartial" />
<form id="group-info-form" method="post">
  <input id="groupId" type="hidden" asp-for="Group.Id" />
  <div class="group-info-form-item">
    <label asp-for="Group.Name"></label>
    <input asp-for="Group.Name" type="text" required />
  </div>
  <div class="group-info-form-item">
    <label asp-for="Group.Description"></label>
    <textarea asp-for="Group.Description" maxlength="250"></textarea>
  </div>
  <div class="group-info-form-item">
    <label asp-for="Group.Public"></label>
    <input class="group-public-checkbox" asp-for="Group.Public" type="checkbox" />
  </div>
  <div class="group-info-form-item">
    <label asp-for="Group.Status"></label>
    <select asp-for="Group.Status" asp-items="Html.GetEnumSelectList<Enums.GroupStatus>()"></select>
  </div>
  <button class="save-changes" type="submit">Save Changes</button>
</form>