h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  font-weight: bold;
  height: 64px;
  background: linear-gradient(#0000ff 0%, #6328D5 86%);
  background-clip: text;
  color: transparent;
}

h2,
h3,
p {
  color: white;
  font-family: 'IBM Plex Mono', monospace, sans-serif;
}

h3 {
  font-size: 1.3rem;
}

p {
  margin: 0;
}

.profile-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

  .profile-heading h1 {
    grid-column: 2;
  }

.user-card {
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  margin: 3rem 0 5rem;
}

.user-info {
  display: flex;
  flex-flow: column;
  width: 20rem;
  margin-left: 5%;
}

.update-message {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 10rem;
  height: 2rem;
  margin: -3rem 0 1rem 0;
  font-weight: bold;
  border-radius: 1rem;
  background-color: lightgreen;
}

.invalid-message {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 20rem;
  height: 2rem;
  margin: -3rem 0 1rem 0;
  font-weight: bold;
  border-radius: 1rem;
  background-color: lightcoral;
}

.platform-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.platform {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.platform-select {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  height: 2rem;
}

.platform-button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0 0 0 .5rem;
  text-decoration: none;
}

  .platform-button::before {
    transform: scale(.5);
  }

  .platform-button:hover {
    box-shadow: 1px 1px 4px;
  }

.platform-remove-button {
  width: 1rem;
  height: 1rem;
  padding: 0;
  background: red;
}

  .platform-remove-button::before {
    transform: scale(.35);
  }
