<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] - LFG</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
  <link rel="stylesheet" href="~/LFG.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="container">
  <main role="main" class="pb-3">
    <div class="logo-container">
      <img class="logo" src="/images/LFG Icon Outlined.png" alt="logo"/>
      <img class="lfg" src="/images/LFG Letters TNR.png" alt="LFG"/>
    </div>
    @if (@ViewContext.View.Path.Contains("Login") || @ViewContext.View.Path.Contains("Register"))
    {
      <div class="buttons back-button">
        <a asp-page="/Index">&#60; Back</a>
      </div>
    }
    <div class="text-center greeting">
      <div class="welcome">
        <h1 class="display-4">Welcome to<br>Looking For Group</h1>
      </div>
      @RenderBody()
    </div>
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2024 - LFG - <a asp-area="" asp-page="/Privacy">Privacy</a>
  </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>