@model LFG.Pages.IndexModel

<form method="post">
 <div class="text-danger" asp-validation-summary="ModelOnly"></div>
 <div class="text-danger">@Model.ErrorMessage</div>
 <div class="text-success">@Model.RegisterSuccessMessage</div>
  <div class="form-item">
    <label class="login-form-label" asp-for="User.Username"></label>
    <input class="login-form-input" type="text" asp-for="User.Username" class="form-control"/>
    </div>
  <div class="form-item">
   <label class="login-form-label" asp-for="User.Password"></label>
   <input class="login-form-input" type="password" asp-for="User.Password" class="form-control"/>
   <span class="text-danger" asp-validation-for="User.Password"></span>
  </div>
  <div class="persist-check">
   <label class="login-form-label" asp-for="User.Persistent"></label>
   <input class="login-form-checkbox" type="checkbox" asp-for="User.Persistent"/>
  </div>
  <div class="buttons">
    <button type="submit" asp-page-handler="Login">Login</button>
  </div>
</form>