@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "Shared/_IndexLayout";
}

<div class="buttons">
  <a href="/Login"@*change to asp-page for building*@>Login</a>
  <a href="/Register"@*change to asp-page for building*@>Register</a>
</div>