@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "Shared/_IndexLayout";
}

<div id="buttons" class="buttons">
  <button onclick="showLogin()">Login</button>
  <button onclick="showRegister()">Register</button>
</div>
<div id="login" style="display:none">
  <partial name="_LoginPartial" />
</div>
<div id="register" style="display:none">
  <partial name="_RegisterPartial" />
</div>

@section Scripts
{
  <script type="text/javascript">
    function showLogin() {
      const login = document.getElementById("login");
      const backButton = document.getElementById("back-button");
      const buttons = document.getElementById("buttons");

      buttons.style.display = "none";
      login.style.display = "block";
      backButton.style.display = "block";
    }

    function showRegister() {
      const register = document.getElementById("register");
      const backButton = document.getElementById("back-button");
      const buttons = document.getElementById("buttons");

      buttons.style.display = "none";
      register.style.display = "block";
      backButton.style.display = "block";
    }

    function goBack() {
      const login = document.getElementById("login");
      const register = document.getElementById("register");
      const backButton = document.getElementById("back-button");
      const buttons = document.getElementById("buttons");

      login.style.display = "none";
      register.style.display = "none";
      backButton.style.display = "none";
      buttons.style.display = "block";
    }

    @if (Model.ErrorMessage != null)
    {
      @:showLogin();
    }

    @if (Model.RegisterSuccessMessage != null)
    {
      @:showLogin();
    }

    @if (Model.RegisterErrorMessage != null)
    {
      @:showRegister();
    }
  </script>
}