@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "Shared/_IndexLayout";
}

<div class="buttons">
  <a asp-page="/Account/Login">Login</a>
  <a asp-page="/Account/Register">Register</a>
</div>