@page
@model LFG.Pages.RegisterModel
@{
  ViewData["Title"] = "Register";
  Layout = "Shared/_IndexLayout";
}


<form method="post">
  <div class="text-danger" asp-validation-summary="ModelOnly"></div>
  <div class="login-form">
    <label class="login-form-label" for="User.Email" @*change to asp-for for building and remove label text*@>Email</label>
    <input class="login-form-input" type="text" for="User.Email" @*change to asp-for for building*@ class="form-control"/>
    <span class="text-danger" asp-validation-for="User.Email"></span>
  </div>
  <div class="login-form">
    <label class="login-form-label" for="User.Username" @*change to asp-for for building and remove label text*@>Username</label>
    <input class="login-form-input" type="text" for="User.Username" @*change to asp-for for building*@ class="form-control"/>
    <span class="text-danger" asp-validation-for="User.Username"></span>
  </div>
  <div class="login-form">
    <label class="login-form-label" for="User.Password" @*change to asp-for for building and remove label text*@>Password</label>
    <input class="login-form-input" type="password" for="User.Password" @*change to asp-for for building*@ class="form-control"/>
    <span class="text-danger" asp-validation-for="User.Password"></span>
  </div>
  <div class="login-form">
    <label class="login-form-label" for="User.ConfirmPassword" @*change to asp-for for building*@>Re-type Password</label>
    <input class="login-form-input" type="password" for="User.ConfirmPassword" @*change to asp-for for building*@ class="form-control"/>
    <span class="text-danger" asp-validation-for="User.ConfirmPassword"></span>
  </div>
  <div class="buttons">
    <button type="submit">Register</button>
  </div>
</form>