@page "/{game}/Groups"
@model GameGroupsModel
@{
  ViewData["Title"] = Model.Game.Name + " Groups";
}

<div class="groups-heading">
  <h1>@Model.Game.Name<br/>Groups</h1>
  <div class="search-bar-group">
    <form id="group-search-form" method="post">
      <input type="search" list="game-groups-list" asp-for="SelectedGroup" placeholder="Search" required />
      <datalist id="game-groups-list">
        @foreach (var group in Model.GameGroups)
        {
          <option value="@group.Name"></option>
        }
      </datalist>
      <button type="submit" class="bi bi-arrow-right search-button"></button>
    </form>
  </div>
</div>
<div class="game-card">
  <partial name="_GameCardPartial" />
</div>
<div id="groups" class="game-groups">
  <partial name="_GameGroupCardsPartial" />
</div>

@section Scripts
{
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
  <script src="~/js/groupsearch.js"></script>
  <script type="text/javascript">
    $(document).on("submit", "#group-search-form", function (e) {
      e.preventDefault();
      var form = $(this);

      $.ajax({
        url: `?handler=GroupSearch`,
        type: 'POST',
        data: form.serialize()
      });
    });
  </script>
}