h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  font-weight: bold;
  height: 64px;
  background: linear-gradient(#0000ff 0%, #6328D5 86%);
  background-clip: text;
  color: transparent;
}

h2,
h3,
p {
  color: white;
  font-family: 'IBM Plex Mono', monospace, sans-serif;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
}

hr {
  color: white;
}

.profile-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile-heading h1 {
  grid-column: 2;
}

.edit-button,
.join-button {
  grid-row: 1;
  grid-column: 3;
  justify-self: end;
}

.group-card {
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  margin-top: 3rem;
}

.group-info {
  margin-left: 5%;
}

#games-list {
  display: none;
}

#toggle-games {
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
}

.group_games {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 50px;
}

.game-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: .5rem;
}

.game-name {
  margin: .5rem;
  font-weight: bold;
}

.threads {
  margin-bottom: 5rem;
}

.thread-group {
  display: flex;
  justify-content: center;
}

.vote-block {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1rem 2rem 0 0;
}

.vote-block h2 {
  margin: 0;
}

.vote-option {
  height: 2rem;
  width: 2rem;
  margin: 0;
  border-radius: 10px;
  text-decoration: none;
}

.vote-option::before {
  transform: scale(.8);
}

.vote-option:hover {
  box-shadow: 1px 1px 5px;
}

.up-vote {
  background: linear-gradient(#0000ff 0%, #6328D5 86%);
}

.down-vote {
  background: linear-gradient(#6328D5 0%, #0000ff 86%);
}

.up-vote:disabled,
.down-vote:disabled {
  background: #555555;
  opacity: .5;
}

.up-vote:disabled:hover,
.down-vote:disabled:hover {
  transform: none;
  border: none;
  box-shadow: none;
}

.thread-block {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #555555;
  border-radius: 25px;
}

.thread-pinned {
  align-self: flex-end;
  margin: 0;
}

.thread-title {
  margin: 0;
}

.thread-created,
.comment-created {
  font-size: .8rem;
  font-style: italic;
}

.show-comments {
  align-self: flex-end;
  margin: 0;
  height: 2rem;
  width: 2rem;
  border-radius: 10px;
}

.show-comments::before {
  transform: scale(.5);
}

.show-comments:hover {
  text-decoration: none;
  box-shadow: 1px 1px 5px;
}

.thread-comments {
  display: none;
}

.comment-group {
  display: flex;
  justify-content: flex-start;
}

.comment-vote-block h2 {
  font-size: 1.5rem;
}

.comment-vote-option {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 8px;
}

.comment-vote-option::before {
  transform: scale(.55);
}

.comment-block {
  width: 100%;
}