h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
  font-weight: bold;
  height: 64px;
  background: linear-gradient(#0000ff 0%, #6328D5 86%);
  background-clip: text;
  color: transparent;
}

h2,
h3,
p {
  color: white;
  font-family: 'IBM Plex Mono', monospace, sans-serif;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 1.3rem;
}

hr {
  color: white;
}

.group-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.group-heading h1 {
  grid-column: 2;
}

.small-button-block {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.edit-button,
.join-button {
  margin-bottom: 0;
}

#group-card {
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  margin-top: 3rem;
}

#edit-group-card {
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  margin-top: 3rem;
  justify-items: start;
}

#games-list {
  display: none;
}

#toggle-games {
  height: 3rem;
  width: 15rem;
  margin-left: 0;
  font-size: 1.5rem;
}

.start-a-thread-group {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

#start-a-thread-button,
.start-a-thread-block button {
  height: 3rem;
  margin-right: 0;
  font-size: 1.5rem;
  float: left;
}

#start-a-thread {
  display: flex;
  overflow: hidden;
  width: 100%;
  transition: height ease-out 500ms;
}

.start-a-thread-block {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #555555;
  border-radius: 25px;
}

.form-item {
  width: 100%;
}

.start-a-thread-block button {
  margin: 0;
}

.threads {
  margin-bottom: 5rem;
}