@page "/AccessDenied"
@model LFG.Pages.Account.AccessDeniedModel
@{
  ViewData["Title"] = "Access Denied";
}

<h1>You are not authorized to view this page</h1>
<div class="buttons">
  <a class="back-button small-button" asp-page="/Index">&#60; Back</a>
</div>