@page "/Register"
@model RegisterModel
@{
  ViewData["Title"] = "Register";
  Layout = "Shared/_IndexLayout";
}

<form method="post">
  <div class="text-danger" asp-validation-summary="ModelOnly"></div>
  <div class="login-form">
    <label class="login-form-label" asp-for="User.Email"></label>
    <input class="login-form-input" type="text" asp-for="User.Email" class="form-control"/>
    <span class="text-danger" asp-validation-for="User.Email"></span>
  </div>
  <div class="login-form">
    <label class="login-form-label" asp-for="User.Username"></label>
    <input class="login-form-input" type="text" asp-for="User.Username" class="form-control"/>
    <span class="text-danger" asp-validation-for="User.Username"></span>
  </div>
  <div class="login-form">
    <label class="login-form-label" asp-for="User.Password"></label>
    <input class="login-form-input" type="password" asp-for="User.Password" class="form-control"/>
    <span class="text-danger" asp-validation-for="User.Password"></span>
  </div>
  <div class="login-form">
    <label class="login-form-label" asp-for="User.ConfirmPassword"></label>
    <input class="login-form-input" type="password" asp-for="User.ConfirmPassword" class="form-control"/>
    <span class="text-danger" asp-validation-for="User.ConfirmPassword"></span>
  </div>
  <div class="buttons">
    <button type="submit">Register</button>
  </div>
</form>